<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>contactEmailRot13</key>
        <string></string>
        <key>contactName</key>
        <string></string>
        <key>description</key>
        <string>Support syntax for the Ren'Py language. Converted from the Atom plugin.</string>
        <key>name</key>
        <string>Ren'Py</string>
        <key>uuid</key>
        <string></string>
    </dict>
</plist>
